[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pylint = "*"
pytest = "*"
coverage = "*"
coveralls = "*"
core = {editable = true, path = "./core"}

[requires]
python_version = "3.8"
